<% var generateSlot = (idStr) => { %>
    <% var id = ve[idStr]; %>
    <% if (id) { %>
        <div class="col-sm-2"><button type="button" class="btn btn-default seat" id="<%= idStr %>" data-id="<%= id %>"><%= idStr %></button></div>
    <% } else { %>
        <div class="col-sm-2"><button type="button" class="btn btn-default seat" id="<%= idStr %>" disabled><%= idStr %></button></div>
    <% } %>
<% } %>

<div class="col-sm-11">
    <div class="row">Xe du lịch 29 chỗ</div></br>
    
    <div class="row">
        <div class="col-sm-1"></div>
        <% generateSlot('24') %>
        <% generateSlot('25') %>
        <% generateSlot('26') %>
        <% generateSlot('27') %>
        <% generateSlot('28') %>
        <div class="col-sm-1"></div>
    </div></br>
    <div class="row">
        <div class="col-sm-1"></div>
        <% generateSlot('23') %>
        <% generateSlot('22') %>
        <div class="col-sm-2"></div>
        <% generateSlot('21') %>
        <% generateSlot('20') %>
        <div class="col-sm-1"></div>
    </div></br>
    <div class="row">
        <div class="col-sm-1"></div>
        <% generateSlot('16') %>
        <% generateSlot('17') %>
        <div class="col-sm-2"></div>
        <% generateSlot('18') %>
        <% generateSlot('19') %>
        <div class="col-sm-1"></div>
    </div></br>
    <div class="row">
        <div class="col-sm-1"></div>
        <% generateSlot('15') %>
        <% generateSlot('14') %>
        <div class="col-sm-2"></div>
        <% generateSlot('13') %>
        <% generateSlot('12') %>
        <div class="col-sm-1"></div>
    </div></br>
    <div class="row">
        <div class="col-sm-1"></div>
        <% generateSlot('08') %>
        <% generateSlot('09') %>
        <div class="col-sm-2"></div>
        <% generateSlot('10') %>
        <% generateSlot('11') %>
        <div class="col-sm-1"></div>
    </div></br>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-4"><i class="glyphicon glyphicon-arrow-right"></i> Lối lên</div>
        <div class="col-sm-2"></div>
        <% generateSlot('07') %>
        <% generateSlot('06') %>
        <div class="col-sm-1"></div>
    </div></br>
    <div class="row">
        <div class="col-sm-1"></div>
        <% generateSlot('03') %>
        <div class="col-sm-4"></div>
        <% generateSlot('04') %>
        <% generateSlot('05') %>
        <div class="col-sm-1"></div>
    </div></br>
    <div class="row">
        <div class="col-sm-1"></div>
        <% generateSlot('01') %>
        <% generateSlot('02') %>
        <div class="col-sm-2"></div>
        <div class="col-sm-4 bg-primary seatDriver"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Tài
            xế</div>
        <div class="col-sm-1"></div>
    </div>
</div>